@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ROOT */
:root {
  --button: #ff0000;
  --button-hover: #e40505;
  --main-background: #c4c4c4;
  --background: #e5e5e5;
  --text: #000;
  --footer: #000;
  --text-description: #9c9696;
  --white: #ffffff;
}

body {
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  width: 100vw;
  background: var(--background);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* HEADER  */

header div.top {
  display: flex;
  justify-content: space-between;
  margin: 2.438rem 3.688rem;
}

div.top ul.menu {
  display: flex;
  list-style: none;
  position: relative;
}

div.top ul.menu li a {
  padding: 0.5rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1em;
  color: var(--text);
  transition: 0.2s;
}
div.top ul.menu li a:hover {
  color: var(--button);
}

div.search {
  display: flex;
}

div.search input {
  width: 180px;
  height: 45px;
  border: none;
  position: relative;
}

div.search input::placeholder {
  color: var(--text-description);
  text-align: left;
  font-weight: 400;
  font-size: 1.1em;
  padding-top: 1px;
}

div.top img.bag {
  position: relative;
}

div.search img {
  width: 40px;
  height: 45px;
  background: var(--white);
  padding: 15px 9px 2px;
  position: relative;
}

/* MAIN */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5rem 1rem 0 5rem;
}

div.container h1.sneaker {
  font-weight: 700;
  font-size: 3.3em;
  margin-bottom: 1rem;
  max-width: 300px;
}

div.container p.description {
  width: 100%;
  max-width: 320px;
  margin-bottom: 3rem;
  font-weight: 400;
  color: var(--text-description);
}

div.container h2.price {
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: 1.5rem;
}

div.container button.buy {
  cursor: pointer;
  width: 280px;
  height: 90px;
  color: var(--white);
  background: var(--button);
  border: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2em;
  transition: 0.2s;
}
div.container button.buy:hover {
  font-weight: 700;
}
div.container button.buy:hover {
  background: var(--button-hover);
}

div.sneakers {
  text-align: center;
  background: var(--main-background);
  max-width: 890px;
  padding: 7rem 1rem 3rem;
  margin-top: -10.5rem;
}

div.sneakers img.first-sneaker {
  margin-left: 2rem;
}

div.images-three {
  width: 100%;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
div.images-three img:nth-child(2) {
  border-bottom: 5px solid var(--button);
}

/* FOOTER */

footer nav#nav-footer {
  display: flex;
  justify-content: space-between;
}

nav#nav-footer ul.nav-footer {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  margin-top: 1rem;
}

ul.nav-footer li {
  padding: 3rem;
}

ul.nav-footer li a {
  text-decoration: none;
  color: var(--text);
  font-weight: 700;
  font-size: 1.1em;
  transition: 0.2s;
}
ul.nav-footer li a:hover {
  color: var(--button);
}

div.explore {
  display: flex;
  width: 438px;
  height: 167px;
  background: var(--footer);
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

div.explore a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
  font-size: 0.9em;
  transition: 0.2s;
}
div.explore a:hover {
  letter-spacing: 1px;
  transition: 0.2s;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  /* HEADER */
  div.search input {
    width: 170px;
  }

  header div.top {
    gap: 0.7rem;
    justify-content: space-around;
  }

  #btn-mobile {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    z-index: 1001;

    margin-top: 5rem;
    right: 0;
    margin-right: 2rem;
  }

  #hamburger {
    color: var(--text);
    display: block;
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  nav#nav ul.menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0;
    background: var(--main-background);
    transition: 0.6s;
    z-index: 1000;
    height: 0;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active ul.menu {
    height: calc(100vh - 85px);
    visibility: visible;
    overflow-y: auto;
  }
  ul.menu li:nth-child(1) {
    margin-top: 50px;
  }

  ul.menu li {
    text-align: center;
    padding: 1rem 0;
    font-weight: 500;
    font-size: 1.1em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  /* MAIN */

  main {
    display: block;
    margin: 5rem 2rem 0;
  }

  main div.container h1.sneaker {
    font-size: 3em;
  }

  main div.container p.description {
    font-size: 1em;
  }

  main div.container h2.price {
    font-size: 2.2em;
  }

  div.sneakers {
    background: none;
  }

  div.sneakers img.first-sneaker {
    display: none;
  }

  div.images-three {
    margin-top: 7rem;
  }
  div.images-three img:nth-child(1) {
    margin-left: 1rem;
  }
  div.images-three img:nth-child(2),
  div.images-three img:nth-child(3) {
    visibility: hidden;
  }

  /* FOOTER */

  footer nav#nav-footer,
  nav#nav-footer ul.nav-footer {
    margin-top: -1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  ul.nav-footer li {
    padding: 1rem;
  }

  iframe {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* HEADER */
  header div.top {
    gap: 1rem;
  }

  div.search input {
    width: 400px;
  }

  /* MAIN */
  main div.container {
    margin: 5rem 2rem 0 14rem;
  }
  div.images-three img:nth-child(1) {
    margin-left: -1rem;
    max-width: 220px;
  }
  div.images-three img:nth-child(2),
  div.images-three img:nth-child(3) {
    visibility: visible;
    max-width: 220px;
  }

  /* FOOTER */
  footer nav#nav-footer,
  nav#nav-footer ul.nav-footer {
    display: flex;
  }

  ul.nav-footer li {
    padding: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  
}
